.classpath
.project
.settings/
bin/target/
target
/src/main/resources/personium-unit-config.properties
*.log
src/test/resources/testoauth.properties
personium-core.log
personium-core.log.*
.idea
*.iml
