<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback:configuration>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %msg - %logger{0}%n</pattern>
       </encoder>
    </appender>
    <!-- EventAPIの出力先を別ファイルに分けるための暫定対応 -->
    <appender name="FILE_USER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>personium-user.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!-- daily rollover -->
        <fileNamePattern>personium-core-user.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %msg - %logger{0}%n</pattern>
        </encoder>
    </appender>
    <appender name='SIFT' class='ch.qos.logback.classic.sift.SiftingAppender'>
        <discriminator>
            <key>eventlog_path</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${eventlog_path}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${eventlog_path}/current/default.log</file>
                <rollingPolicy class="io.personium.common.logging.rolling.PersoniumFixedWindowRollingPolicy">
                    <fileNamePattern>${eventlog_path}/archive/default.log.%i.zip</fileNamePattern>
                    <minIndex>1</minIndex>
                    <maxIndex>12</maxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <maxFileSize>1MB</maxFileSize>
                </triggeringPolicy>
                <layout class='ch.qos.logback.classic.PatternLayout'>
                    <pattern>%msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger  name="io.personium">
        <level value="INFO" />
        <appender-ref ref="stdout" />
    </logger>
    <logger  name="org.elasticsearch">
        <level value="DEBUG" />
        <appender-ref ref="stdout" />
    </logger>
    <logger  name="netty">
       <level value="DEBUG" />
       <appender-ref ref="stdout" />
    </logger>
    <logger name="io.personium.core.rule.action.LogAction" additivity="false">
        <level value="INFO" />
        <appender-ref ref="SIFT" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="io.personium.logging" additivity="false">
        <level value="INFO" />
        <appender-ref ref="stdout" />
    </logger>
</configuration>
